<% layout('layouts/boilerplate')%>

    <h1>All Modules</h1>
    <div class="row">
        <div>
        <% if(currentUser) { %>
            <% if(currentUser.lecturer == true){ %>
                <div class="ml-3">
                    <a class="btn btn-info" href="/modules/new">Add New Module</a>
                </div>
            <% } %>
        <% } %>
        
            <br>
            <ul>
                <% for (let module of modules){%>
                    <a href="/modules/<%= module._id %>"><li> <%= module.code %>: <%= module.title %></li></a>
                <% } %>
            </ul>
        </div>
    </div>
    
    
