<% layout('layouts/boilerplate')%>

    <h1>All Modules</h1>
    <div>
        <a href="/modules/new">Add New Module</a>
    </div>
    <ul>
        <% for (let module of modules){%>
            <a href="/modules/<%= module._id %>"><li> <%= module.code %>: <%= module.title %></li></a>
        <% } %>
    </ul>
