<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Module</title>
</head>
<body>
    <form action="/modules" method="POST">
        <div>
            <label for="code">Code</label>
            <input type="text" id="code" name="module[code]">
        </div>
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="module[title]">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" name="module[description]">
        </div>
        <button>Add Module</button>
    </form>
    <a href="/modules">All Modules</a>
</body>
</html>