<% layout('layouts/boilerplate')%>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="breadcrumb-item" href="/modules">Modules</a></li>
      <li class="breadcrumb-item active" aria-current="page">New Module</li>
    </ol>
  </nav>
<div class="row">
    
    <div class="col-6 offset-3">
        <h1 class="text-center">New Module</h1>
        <form action="/modules" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="code">Code</label>
                <input class="form-control" type="text" id="code" name="module[code]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="module[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <input class="form-control" type="text" id="description" name="module[description]">
            </div>
            <div class="mb-3">
                <button class="btn btn-success"><i class="fa-regular fa-check"></i> Add Module</button>
            </div>
            
        </form>
    <a class="btn btn-primary" href="/modules"><i class="fa-regular fa-arrow-left"></i> All Modules</a>
    </div>
</div>