<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Module</h1>
    <div class="col-6 offset-3">
        <form action="/modules" method="POST">
            <div class="mb-3">
                <label class="form-label" for="code">Code</label>
                <input class="form-control" type="text" id="code" name="module[code]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="module[title]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <input class="form-control" type="text" id="description" name="module[description]">
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Module</button>
            </div>
            
        </form>
    <a class="btn btn-primary" href="/modules">All Modules</a>
    </div>
</div>