<% layout('layouts/boilerplate')%>
<div class="container-fluid">
    <div class="row mb-5">
        <h1>Code Feedback Home Page</h1>
        
    </div>
    <% if(currentUser) { %>
    <div class="row align-items-center">
        <a class="btn btn-dark mb-3" href="./modules">List of All Modules</a>
        
    </div>
    <% } else { %>
    <div class="row align-items-center">
        <a class="btn btn-success mb-3" href="/login">Login</a>
       
    </div>
    <div class="row align-items-center">
        <a class="btn btn-primary mb-3" href="/register">Register</a>
       
    </div>
    <% } %>
</div>

    
