.navbar{
    background-color: rgb(47, 2, 86);
}

a.nav-link{
    color: rgb(245, 238, 250);
}

a.navbar-brand{
    color: rgb(245, 238, 250);
}

.text-muted{
    color: aliceblue;
}

.footer{
    background-color:   rgb(47, 2, 86);
}

.breadcrumb{
    background-color: white;
    
}

.card{
    background-color: rgb(249, 248, 249);
}

a.breadcrumb-item{
    color: rgb(88, 1, 164);
}

a.breadcrumb{
    color: rgb(88, 1, 164);
}

.btn-primary{
    background-color: rgb(88, 1, 164);
    border-color: rgb(88, 1, 164);
}

.btn-primary:hover{
    background-color: rgb(246, 241, 251);
    color: rgb(88, 1, 164);
    border-color: rgb(88, 1, 164);
}