<% layout('layouts/boilerplate')%>
<div class="d-flex justify-content-center">
    <div class="card w-50 text-left">
        <h5 class="card-header text-center">Login</h5>
        <div class="card-body align-items-center">
            <form action="/login" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-success"></svg>Log in <i class="fa-regular fa-arrow-right-to-bracket"></i></button>
                </div>
                
            </form>
            <p class="card-text mt-3">If you don't have an account <a href="/register">click here to register</a>.</p>
        </div>
    </div>
</div>