<% layout('layouts/boilerplate')%>
<div class="d-flex justify-content-center">
    <div class="card w-50 text-left mb-3">
        <h5 class="card-header text-center">Register</h5>
        <div class="card-body align-items-center">
            <form action="/register" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <p class=""></p>
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[.#?!@$ %^&*-]).{8,}$" id="password" name="password" required>
                    <div class="form-text text-muted">
                        Your password must be at least 8 characters including a capital letter, a lower case letter, a number and a special character.
                      </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success">Register</button>
            </form>
            <p class="card-text mt-3">If you already have an account <a href="/login">click here to sign in</a>.</p>
        </div>
    </div>
</div>